body {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  border: red solid;
  justify-content: start;
  height: 100%;
}

html {
  box-sizing: border-box;
  border: pink solid;
}
* {
  box-sizing: inherit;
}
.header {
  display: flex;
  gap: 2vh;
  padding: 3% 20%;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  flex: 0 0 auto;
}
.logo {
  font-size: 24px;
}
.linkone {
  margin-left: auto;
}
.banner {
  display: flex;
  font-size: 48px;
  padding: 0 20%;
  background-color: #1f2937;
  padding-bottom: 1%;
  flex: auto;
  align-items: center;
}
.image-placeholder {
  align-self: stretch;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: lightgray;
  font-size: 18px;
  text-align: center;
}
button {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 15%;
}
.banner-text {
  width: 50%;
  flex: auto;
  color: #f9faf8;
}
.sub-text {
  color: #9f9fa2;
  font-size: 18px;
}
.boxes-container {
  display: flex;
  justify-content: center;
  gap: 5%;
  padding: 0 20%;
  flex: auto;
}
.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  height: 15vh;
  width: 15vh;
  border: #3882f6 solid;
  border-radius: 10%;
}
.sub-title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 2%;
  margin-top: 1%;
}
.box-text {
  text-align: center;
}
.quote-box {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  font-size: 36px;
  padding: 5% 25%;
  color: #1f2937;
  text-align: justify;
  margin: 5% 0%;
}
.author {
  align-self: flex-end;
  font-size: 30px;
  font-weight: 700;
}
.signup-container {
  display: flex;
  margin: 5% 20%;
  padding: 3%;
  align-items: center;
  gap: 30%;
  background-color: #3882f6;
  color: #e5e7eb;
}
